.product {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 10px;
}

.image {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin-right: 10px;
}

.title {
	font-weight: bold;
	margin-right: 10px;
}

.removeButton {
	background-color: #381f1f;
	color: #ffffff;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	margin-right: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s;
}

.removeButton:hover {
	background-color: #6d3a3a;
}

.addToCartButton {
	background-color: #004700;
	color: #ffffff;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s;
}

.addToCartButton:hover {
	background-color: #35b035;
}

.backButton {
	background-color: #808080;
	color: #ffffff;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s;
}

.backButton:hover {
	background-color: #666666;
}
