.header {
	background-image: url("data:image/svg+xml, %3Csvg id='header' width='200' height='200' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' r='100' fill='%23FFAB08'/%3E%3C/svg%3E");
	background-size: 611px;
	background-position: bottom;
	background-repeat: no-repeat;
	padding: 24px 0 30px;
	margin-bottom: 30px;
}

.container {
	margin: 0 auto;
}

.logo {
	width: 150px;
	color: #fff;
	margin: 0 auto 24px;
}

.wrapper {
	padding-bottom: 246px;
	background: url('../../assets/img/pic.svg') bottom/227px no-repeat;
	text-align: center;
	color: #ffffff;
}

.title {
	display: flex;
	flex-direction: column;
	font-weight: 800;
	font-size: 30px;
	line-height: 120%;
	margin-bottom: 16px;
}

.red {
	color: #ff5c00;
}

.appeal {
	font-size: 12px;
	line-height: 16px;
}

.authButtons {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	width: 160px;
}

.authButtons a:first-child {
	margin-right: 30px !important;
}

.authButtons a,
.logoutBtn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #fff;
	border-radius: 5px;
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease;
}

.authButtons a:hover,
.logoutBtn:hover {
	background-color: #333;
	color: #fff;
}

.logoutBtn {
	margin-left: 30px;
	background-color: #ff5c00;
	color: #fff;
}

.logoutBtn:hover {
	background-color: #ff9d4d;
}

@media (min-width: 480px) {
	.header {
		background-size: 1400px;
		padding-bottom: 44px;
	}

	.container {
		max-width: 480px;
	}

	.wrapper {
		padding-bottom: 0;
		padding-left: 180px;
		padding-top: 27px;
		text-align: left;
		background-position: left;
		background-size: contain;
		min-height: 190px;
	}
}

@media (min-width: 768px) {
	.header {
		background-size: 2540px;
	}

	.container {
		max-width: calc(562px + var(--padding-container) * 2);
	}

	.wrapper {
		padding-left: 237px;
		min-height: 229px;
	}

	.title {
		font-size: 36px;
		margin-bottom: 26px;
	}
}

@media (min-width: 1024px) {
	.header {
		background-size: 2880px;
		padding-bottom: 63px;
		margin-bottom: 40px;
	}

	.container {
		max-width: calc(764px + var(--padding-container) * 2);
	}

	.wrapper {
		padding-top: 46px;
		padding-left: 326px;
		min-height: 326px;
	}

	.title {
		font-size: 50px;
		margin-bottom: 52px;
	}

	.appeal {
		font-size: 16px;
		line-height: 22px;
	}
}

@media (min-width: 1360px) {
	.container {
		max-width: calc(784px + var(--padding-container) * 2);
	}

	.wrapper {
		padding-left: 346px;
	}
}

@media (min-width: 1920px) {
	.header {
		background-size: 4660px;
	}
}
